
<h2><%= @greeting %></h2>
<br>
<p>Thanks so much for signing up!</p>
<br>
<p>Now you can start matching with people in your area and schedule chowdowns!</p>
<br>
<p>Enjoy!</p>
<br>
<br>
<p>~Team Chowdown</p>
