#container-badges {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.card-badge {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.badge-name a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.badge-name {
  color: $brand-color;
}

.badge-icon {
  width: 50px;
}
