
.container {
  text-align: center;
}

.card-badges {
  position: relative;
  height: auto;
  text-align: center;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

img.icon {
 width: 10px;
 height: 10px;
}
