.chatbox {
  background-color: white;
  display: flex;
  position: relative;
  min-width: 375px;
}

.chat {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 20px;
  min-width: 50px;
  max-width: 200px;
  display: inline-block;
  &.sent {
    float: right;
    background-color: $blue;
    margin-bottom: 15px;
  }
  &.received {
    float: left;
    background-color: gray;
  }
  p {
      margin: 0;
  }
}

.chat-name {
  background-color: white;
}

.fixed {
  position: fixed;
  width: 100%;
  .top {
    top: 0;
  }
}

.chat-form {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: gray;
  padding-top: 7px;
  padding-left: 28px;
}
#chat-field {
  width: 250px;
  height: 35px;
}
