.chatbox {
  background-color: white;
  display: flex;
  position: relative;
  min-width: 375px;
}

.chat {
  border-radius: 10px;
  padding: 5px 15px;
  min-width: 5px;
  max-width: 150px;
  display: inline-block;
  &.sent {
    float: right;
    background-color: #F3DFE9;
    margin-bottom: 15px;
  }
  &.received {
    background-color: #B8F2E6;
  }
  p {
    margin: 0;
  }
}
#messages-list {
  position: sticky;
  display: flex;
  flex-direction: column;
}
.message-row {
  padding: .4em 0;
  &:last-child {
    padding-bottom: 2rem;
  }
}
.chat-name {
  background-color: white;
}

.fixed {
  position: fixed;
  width: 100%;
  .top {
    top: 0;
  }
}
.chat-recipient {
  margin-top: 10px;
}
.chat-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background: $navbar-purple;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $brand-color, $navbar-purple);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $brand-color, $navbar-purple); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.3s ease;
}
#chat-field {
  width: 275px;
  height: 35px;
  border-radius: 10px;
  border: none;
}
