.card-chowi {
  position: relative;
  height: auto;
  text-align: center;
}

.card-finalized {
  background-color: #F3DFE9;
}

.card-links {
  font-size: 24px;
}

i{
  color: rgb(185, 67, 128);
}

.btn-chowi {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border-color: rgb(185, 67, 128);
  border-style: solid;
  color: black;
  margin-left: 8px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

.buttons {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;

}

.btn-chowi.active{
  background-color: rgb(185, 67, 128);
  color: white;
  text-decoration: none;
 }

.avatar-chowi {
  margin-top: -15px;
}
