.form-style-5 {
  max-width: 500px;
  margin: 0 auto;
  font-size: 20px;
  background-color: $green;
  margin-top: -22px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(50,50,50);
  .checkbox input[type="checkbox"] {
    height: 25px;
    width: 25px;
  }
  input {
    border-radius: 5px;
    padding-left: 10px;
  }
  select {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  abbr {
    display: none;
}
}
