/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.signup-page {
  margin-top: 140px;
}

.member-already {
  text-decoration: none;
  color: #b5b5b5;
}
