/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  background-image: linear-gradient(-225deg, rgba(232,84,161,0.7) 0%, rgba(232,84,161,0.6) 50%), url(home-bg.jpeg);
  margin-top: 0px;
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 54%;
  p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-bottom: 30px;
  }
  h3 {
    color: rgb(245, 245, 245);
    opacity: 0.9;
    margin: 0;
    margin-bottom: -2px;
  }
  .banner-icon {
    height: 40px;
    margin-bottom: 10px;
  }
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 0px;
}

.landing-logo {

  height: 40px;
  width: auto;
  margin-bottom: 48px;
}

#landing-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  // flex-grow: 2; is not working!!
}

.fa-facebook {
  color: white;
  font-size: 20px;
}
