/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 15px;
  margin-top: 50px;
}

.landing-logo {
  // margin-top: 30px;
  // margin-bottom: 20px;
  height: 40px;
  width: auto;
  // flex-grow: 1; is not working!!
}

#landing-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  // flex-grow: 2; is not working!!
}

.facebook-btn {
  margin: auto;
  // flex-grow: 1; is not working!!
}
