.match-preference-box1 {
  position: absolute;
  left: 0;
    right: 0;
  height: 389px;
  background-color: white;

  z-index: 10000000;
  width: 100%;
  h4 {
    //margin-left: 10px;
    font-weight: 700;
    color: #950952;
    padding-left: 17px;
    padding-top: 10px;
  }
}

.flex-wrapper {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
  padding-top: 7px;
}

.flex-wrapper-between {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
}

.nkm {
  position: absolute;
  //margin: 11px 0px 11px;
  right: 45px;
  padding-top: 10px
}

.km {
  position: absolute;
  //margin: 11px 0px 11px;
  right: 19px;
padding-top: 10px
}

.age_position {
  position: absolute;
  //margin: 11px 0px 11px;
  right: 10px;
  right: 15px;
  padding-top: 10px;
}


.match-preference-box2 {
  position: absolute;
  top: 169px;
      left: 0;
    right: 0;
  height: 60px;
  background-color: white;
      width: 100%;
  z-index: 10000000;
  h4{
    //margin-left: 10px;
    font-weight: 700;
    color: #950952;
    padding-left: 17px;
  }
}

.toggle {
  position: absolute;
  padding-left: 40px;
  padding-right: 40px;
  right: -110px;
}


.match-preference-box3 {
  position: absolute;
  top: 237px;    left: 0;
  height: 90px;
  background-color: white;
      width: 100%;
  z-index: 10000000;
  h4{
    //margin-left: 10px;
    font-weight: 700;
    color: #950952;
    padding-left: 17px;
  }
}
.slider.slider-horizontal {
    width: 298px;
}

.slider-handle {
  background: #7C2D56;
}

.slider-selection {
  background: #B94380;
}

.toggle-on {
  background-color: #B94380;
}

.toggle-on.btn {
  border-radius: 4px;
}

.toggle-handle {
  border-radius: 4px;
}



#button-toggle-color {
  background-color: black;
}

.btn-primary:active:hover {
  background: #7C2D56;
  border-color: white;
}

.btn-primary {
    border-color: white;
}


.match-preference-box4 {
  position: absolute;
  top: 337px;
    left: 0;
    right: 0;
  height: 90px;
  background-color: white;
      width: 100%;
  z-index: 10000000;
  h4{
    //margin-left: 10px;
    font-weight: 700;
    color: #950952;
    padding-left: 17px;
  }
}

#match-logo {
  margin-top: 7px;
  &:focus {
    outline: none;
  }
}

#match-logo a:hover {
    color: #d898b9;
}



