.container-recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-recipe {
  height: 125px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  width: 100%;
  display: block;
  margin: 0 auto 15px;
}

.recipe-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.recipe-title h2 {
  font-size: 24px;
}

.recipe-title p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-recipe-search {
  width: 40%;
  background-color: white;
  color: #444444;
  border: 1px solid #666666;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #888888;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
}
