.profile-page {
  position: relative;
}


.my-meals {
  background-color: white;
  position: relative;
  height: 90px;
  margin-top: 8px;
  width: 100%;
}

.diet-icon {
  width: 35px;
  right: 5px;
}


.wrapper-meals{
  margin-top: 40px;
  h4 {
      color: gray;
      margin: 0px;
      margin-left: 5px;
    }
  }

.add-meal {
  position: absolute;
  right: 0px;
  height: 59px;
  padding: 9px;
  border-radius: 0px;
  font-size: 30px;
}

.bio-profile {
  // background-color: white;
  width: 100%;
  h4 {
    font-size: 15px;
    font-weight: 600;
  }
}

#cards-wrapper {
  margin-left: 16px;
}
.btn-sign-out {
  // border-radius: 10px;
  // background-color: rgb(250,250,250);
  // border: rgb(240,240,240) 1px solid;
  width: 100px;
  color: gray;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 121px;
  font-weight: 300;
  font-size: 16px;
  p {
    margin: 0 auto;
  }
}
