<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <% if OmniAuth::Utils.camelize(provider) == "Facebook" %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn-margin-top" do %>
        <button class="btn btn-primary"> <i class="fa fa-facebook"></i>&nbsp; Connect with Facebook</button>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:center_nav) do %>
  <%= image_tag "http://res.cloudinary.com/wafflewitch/image/upload/v1500688079/logo_symbol1.png", alt: "symbol logo", class: "navbar-logo" %>
  <%= image_tag "http://res.cloudinary.com/wafflewitch/image/upload/v1500686632/logo_navbar1.png", alt: "title logo", class: "navbar-logo"%>
<% end %>
