<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <% if OmniAuth::Utils.camelize(provider) == "Facebook" %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn-margin-top" do %>
        <button class="btn btn-primary"> <i class="fa fa-facebook"></i>&nbsp; Connect with Facebook</button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
