<div class="text-center"><h2>Recipes</h2></div><br>
<div class="container-recipe">
  <% @recipes.each do | recipe |%>
    <div class="card-recipe-search">
      <div class="card-recipe" style="background-image:url('<%= recipe.photo %>');">
      </div>

          <p><%= recipe.title %></p>

    </div>
  <% end %>
</div>

<% content_for(:left_nav) do %>
  <h4><%= link_to "", :back, class: "fa fa-chevron-left" %></h4>
<% end %>
