<div class="container-recipe">
  <% @recipes.each do | recipe |%>
    <div class="card-recipe-search">
      <div class="card-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= recipe.photo %>');">
        <div class="recipe-title">
          <h2> <%= recipe.title %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
