<div class="text-center"><h2>Recipes</h2></div><br>
<div class="container-recipe">
  <% @recipes.each do | recipe |%>
    <div class="card-recipe-search">
      <div class="card-recipe" style="background-image:url('<%= recipe.photo %>');">
      </div>

          <p><%= recipe.title %></p>

    </div>
  <% end %>
    <div class="card-recipe-search">
      <div class="card-recipe" style="background-image:url('https://res.cloudinary.com/wafflewitch/image/upload/v1501250492/recipe1.jpg');">
      </div>
          <p>Pizza Margherita</p>
    </div>

  <div class="card-recipe-search">
      <div class="card-recipe" style="background-image:url('https://res.cloudinary.com/wafflewitch/image/upload/v1501250492/recipe2.jpg');">
      </div>
          <p>Khow Suey</p>
    </div>

  <div class="card-recipe-search">
      <div class="card-recipe" style="background-image:url('https://res.cloudinary.com/wafflewitch/image/upload/v1501250492/recipe3.jpg');">
      </div>
          <p>Beef and Broccoli</p>
    </div>

</div>

<% content_for(:left_nav) do %>
  <h4><%= link_to "", :back, class: "fa fa-chevron-left" %></h4>
<% end %>
