<div class="no-user-page text-center" style="margin-top: 100px;">
  <h4>Sorry, no users found for you today</h4>
  <div class="glyphicon glyphicon-thumbs-down" style="font-size: 100px;"></div>
</div>
