
<div class="container">
  <div class="flex-list">
      <% @users.each do |user| %>
      <%= render "user_card", user: user %>
      <% end %>
  </div>
</div>

<% content_for(:left_nav) do %>
  <%= link_to "", user_path(current_user.id), class: "fa fa-user" %>
<% end %>
<% content_for(:center_nav) do %>
  <%= image_tag "http://res.cloudinary.com/wafflewitch/image/upload/v1500686632/logo_navbar1.png", alt: "title logo", class: "navbar-logo"%>
<% end %>
<% content_for(:right_nav) do %>
  <%= link_to "", user_chows_path(current_user.id), class: "fa fa-users" %>
<% end %>
