
<div class="container">
  <div class="flex-list">
      <% @users.each do |user| %>
      <div class="card">
        <div class="card-details">
            <div class="card-profile-pic">
                <% image_url = user.facebook_picture_url || 'http://placehold.it/200x200' %>
                <%= link_to image_tag(image_url), user_path(user), class: "avatar-large" %>
            </div>
            <div class="food-pref">
              <div class="food-pref-icon">
                <img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500649828/meat_yes.png" alt="" class="foodpref-icons">
              </div>
              <br>
                <img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500649828/fish_no.png" alt="" class="foodpref-icons">
              <br>
                <img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500649828/wheat_yes.png" alt="" class="foodpref-icons">
            </div>
            <h2><%= user.first_name %>, 23</h2>
            <%= render 'shared/food_tags' %>
          <div class="bio">
            <h5>bio</h5>
          </div>

          <div class="chowdown-buttons">
              <img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500650659/chow_no.png" alt="" class="foodpref-icons">
            <%#= link_to "", new_user_chow_path(current_user) do %>
              <img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500650659/chow_yes.png" alt="" class="foodpref-icons">
            <%# end %>
          </div>
        </div>
             </div>
      <% end %>

  </div>
</div>



