
<div class="container filters">
  <%= render 'users/match_settings' %>
</div>
<div class="container" id="cards-wrapper">
  <div class="flex-list" id="user_cards">
    <%= render "user_cards", users: @users %>
  </div>
</div>
<% content_for(:left_nav) do %>
  <%= link_to "", user_path(current_user.id), class: "fa fa-user" %>
<% end %>
<% content_for(:center_nav) do %>
  <%= image_tag "title.svg", alt: "title logo", class: "navbar-logo"%>
<% end %>
<%# content_for(:right_nav) do %>
  <%#= link_to "", user_chows_path(current_user.id), class: "fa fa-users" %>
<%# end %>
<% content_for(:right_nav) do %>
  <%#= image_tag "http://res.cloudinary.com/wafflewitch/image/upload/v1500931967/controls_icon.png", alt: "title logo", class: "navbar-logo" %>
  <input type="image" src="http://res.cloudinary.com/wafflewitch/image/upload/v1500931967/controls_icon.png" name="saveForm" class="navbar-logo" id="match-logo" />
<% end %>

<% content_for(:after_js) do %>
   <script>
        var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });
    </script>
<% end %>
<!--  swiping logic here -->
