

<div class="profile-page">

    <div class="user-photo">
      <img src="https://static.pexels.com/photos/509195/pexels-photo-509195.jpeg" alt="" class="profile-pic-page text-center">


      <div class="name-container">
        <h4>Emily, 23</h4>
        <div class="food-pref-icons">
          <img src="<%= asset_path('veggie.png') %>" alt="" class="diet-icon">
          <img src="<%= asset_path('gluten_free.png') %>" alt="" class="diet-icon">
        </div>
      </div>
   </div>

   <div class="bio-profile text-center">
     <h4>"I like cooking with new people because..."</h4>
   </div>


  <div class="wrapper-meals">
    <h4>I'm interested in cooking</h4>
    <div class="my-meals">
      <%= render 'shared/food_tags' %>
      <!-- <div class="btn btn-success add-meal">+</div> -->
    </div>
  </div>

  <div class="btn btn-primary button-chowdowns text-center">
    <h4>chowdowns</h4>
  </div>

  <div class="btn button-match-settings text-center">
    <h4>Match settings</h4>
  </div>



</div>

