
<div class="container">
  <div class="profile-page">
    <div class="user-photo">
      <img src="https://static.pexels.com/photos/509195/pexels-photo-509195.jpeg" alt="">
    </div>
    <h4><%= current_user.name %></h4>



  </div>
</div>
