<div class="chowdown-buttons">
  <%= link_to  decisions_path(decision: false,user_2_id: user), method: :post, class: 'action-btn dislike-btn-bg' do %>
    <img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500925213/chow_cutlery.png" alt="" class="foodpref-icons">
  <% end %>
  <%= link_to decisions_path(decision: true,user_2_id: user), method: :post, class: 'action-btn like-btn-bg' do %>
    <img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500925213/chow_cutlery.png" alt="" class="foodpref-icons">
  <% end %>
</div>
