<!-- put loop logic here for the tags -->
<div class="tags">
  <div class="tag-food-type">
    <div class="tag-design text-center">
      <h5>French</h5>
      <h5>Indian</h5>
      <h5>American cuisine</h5>
      <h5>Chinese</h5>
      <h5>Japanese</h5>
    </div>
  </div>
</div>


<!--
      <h5><%#= user.tag1 %></h5>
      <h5><%#= user.tag2 %></h5>
      <h5><%#= user.tag3 %></h5>
      <h5><%#= user.tag4 %></h5>
      <h5><%#= user.tag5 %></h5> -->
