<div class="tags">
  <div class="tag-food-type">
    <div class="tag-design text-center">
      <h5>French</h5>
      <h5>Indian</h5>
      <h5>American cuisine</h5>
      <h5>Chinese</h5>
      <h5>Japanese</h5>
    </div>
  </div>
</div>
