<div class="navbar-chowdown">

  <div class="nav-button-left navbar-left glyphicon glyphicon-arrow-left">

  </div>

  <div class="navbar-center text-center">
    <h2>Chowdown</h2>
  </div>

  <div class="nav-button-right navbar-right">
    <p>Done</p>
  </div>

</div>

