<div class="navbar-chowdown">

  <div class="nav-button-left navbar-left">

  <a href="#" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i></a>

  </div>
  <div class="navbar-center text-center">
    <h2><%= link_to "Chowdown", root_path %></h2>
  </div>

  <div class="nav-button-right navbar-right">
    <p><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %></p>
  </div>
</div>

