<div class="navbar-chowdown">

    <div class="nav-button-left navbar-left">
      <%= yield(:left_nav) %>
    </div>

    <div class="navbar-center text-center">
      <%= yield(:center_nav) %>
    </div>

    <div class="nav-button-right navbar-right">
      <%= yield(:right_nav) %>
    </div>
</div>

