

<div class="signup-page text-center">
  <h1>Welcome to Chowdown</h1>
  <p>Cook with someone new</p>
</div>

<div class="facebook-btn text-center">
  <button class="loginBtn loginBtn--facebook">
    Login with Facebook
  </button>
  <br>
  <a href="#" class="member-already">Already a member?</a>
</div>
