/* Main class */
.navbar-chowdown {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: $brand-color;
  background: $navbar-purple;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $brand-color, $navbar-purple);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $brand-color, $navbar-purple); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.3s ease;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: #F7F7F7;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #d898b9;
  }
}

.navbar-left {
  margin-left: 20px;
  position: absolute;
  left: 0px;
  p {
    margin: 0px;
    left: 3px;
  }
}

.navbar-center {
  position: absolute;
  h3 {
    font-size: 24px;
    margin: 0px;
  }
  p {
    margin-bottom: -4px;
    opacity: 0.9;
  }
}

.navbar-right {
  margin-right: 20px;
  position: absolute;
  right: 0px;
  p {
    margin: 0px;
    right: 3px;
  }
}

.navbar-logo {
  height: 27px;
  width: auto;
  &:hover {
    opacity: 0.7;
  }
}
.navbar-logo-icon {
  height: 30px;
  &:hover {
    opacity: 0.7;
  }
}
.glyphicon {
  width: auto;
}

.glyphicon-arrow-left {
  margin-left: 0px;
  &:hover {
    opacity: 0.7;
  }
}

.glyphicon-log-out {
  margin-right: 0px;
}
.fa-user {
  font-size: 30px;
  &:hover {
    opacity: 0.7;
  }
}
.fa-calendar {
  font-size: 30px;
  &:hover {
    opacity: 0.7;
  }
  &.orange {
    color: #FCCA46;
  }
}
