/* Main class */
.navbar-chowdown {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $brand-color;
  transition: all 0.3s ease;
  display: flex;
  height: 55px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}


.glyphicon-arrow-left {
  color: white;
  width: 40px;
  left: -17px;
}

.navbar-center {
  color: white;
  h2 {
    margin: 0px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}


.navbar-right {
  color: white;
  margin-left: 15px;
  p {
    margin: 0px;
    right: 3px;
  }
}
