<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '453241278379674',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="signup-page text-center">
  <h1><img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500606926/chowdown_logo2.png" alt="icon of kitchen utensils">&nbsp;chowdown</h1>
  <br>
  <div class="row">
    <div class="col-xs-6"><img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500606430/icon_person.svg" alt="icon of person">
    <p>make new friends</p></div>
    <div class="col-xs-6"><img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500606430/icon_rocket.svg" alt="icon of rocket">
    <p>try new flavors</p></div>
  </div>
  <div class="row">
    <div class="col-xs-6"><img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500606430/icon_money.svg" alt="icon of money">
    <p>save money</p></div>
    <div class="col-xs-6"><img src="http://res.cloudinary.com/wafflewitch/image/upload/v1500606430/icon_star.svg" alt="icon of star">
    <p>level up</p></div>
  </div>
</div>
<br>
<div class="facebook-btn text-center">
    <%= render "devise/shared/links" %>
</div>
