

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: white;
  margin-top: 40px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}



.button-chowdowns {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #51B796;
  color: white;
  font-size: 29px;
  padding-left: 72px;
  padding-right: 73px;
  height: 72px;
  font-weight: 700;
  color: #F7F7F7;
  padding-top: 13px;
  opacity: 0.8;
}

.button-match-settings {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #b2b2b2;
  border-radius: 0 0 4px 0;
  font-size: 9px;
  padding-left: 20px;
  padding-right: 20px;
  height: 43px;
  font-weight: 700;
  padding: 5px 70px 0px 70px;
  margin-right: 17px;
  h6 {
    margin: 0px;
    color: #F7F7F7;
    margin-bottom: 5px;
  }
}


.button-edit-profile {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #b2b2b2;
  border-radius: 0 0 0 4px;
  font-size: 9px;
  padding-left: 20px;
  padding-right: 20px;
  height: 43px;
  font-weight: 700;
  padding: 5px 62px 0px 73px;
  h6 {
    margin: 0px;
    color: #F7F7F7;
    margin-bottom: 5px;
  }
}


.icon-match-settings {
  width: 30px;
}

.gender-button {
  border: none;
  background-color: white;
  border-radius: 4px;
  box-shadow: none;
  color: gray;
  outline: none;
}

.chowdown-buttons {
  display: flex;
  justify-content: center
}

.chowdown-buttons > a{
}

// Chat button
.btn-chat {
    border-radius: 10px;
    margin-left: 8px;
    &:hover {
      background-color: rgb(230,230,230);
    }
  }

.action-btn{
      border-radius: 50%;
    padding: 25px;
    position: absolute;
    bottom: 15px;

}
.dislike-btn-bg {
    background-color: #ed7171;
   left: 50px;
}

.like-btn-bg {
    background-color: #90f49d;
   right: 50px;
}
.glyphicon-remove {
  font-size: 54px;
  color: #F7F7F7;
}

// Chowdown settings page
.gender-button {
  border: 1px rgb(230,230,230) solid;
  width: 90px;
  height: 42px;
  p {
    margin: 0;
  }
  &.selected {
    border: 2px #83C8E2 solid;
    margin: 0;
    p {
      margin: 0;
    }
  }
}

.edit-icon-size {
  width: 22px;
}
.date-button {
  border: 1px rgb(210,210,210) solid;
  width: 140px;
  height: 59px;
  padding-top: 18px;
  color: black;
  border-radius: 5px;
  background-color: rgb(240,240,240);
  margin: 10px;
  &.selected {
    border: 2px $green solid;
    color: $green;
    background-color: white;
    margin-top: 10px;
    p {
      margin: 0;
    }
  }
}

.edit-icon-size1 {
  width: 32px;
}

#btn-done {
  background-color: gray;
  border-color: none;
  border: none;
  padding-right: 154px;
  padding-left: 154px;
  bottom: 0px;
  /* position: absolute; */
  margin-top: 15px;
  border-radius: 0 0 4px 4px;
  height: 42px;
  background-color: #b94380;
  color: white;
  font-size: 21px;
}

