.card {
  position: relative;
  background-color: white;
  padding: 10px;
  margin: 10px 10px 40px;
  height: 579px;
  width: 348px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

.card-details {
  h2 {
    top: -50px;
    font-size: 25px;
    background-color: white;
    display: inline-block;
    padding: 5px;
    position: relative;
    border-radius: 0px 4px 0px 0px;
  }
}

.card-finalized {
  background-color: green;
}

.card-chowi{
  height: 120px;
}



.foodpref-icons {
  width: 53px;
}


.food-pref {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 30px;
  margin-left: 276px;
  margin-top: -226px;
}

.flex-list {
  display: flex;
  flex-direction: column;
  .card {
    margin: 0 0 10px 0;
  }
}

.pref-cook-pref {
  margin-top: 48px;
}


.bio {
  h5 {
  margin-top: -50px;
  color: gray;
}
}
