.card {
  background-color: white;
  margin: 10px 10px 10px 0;
  height: 592px;
  width: 344px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  position: relative
}
.card-details{
  h5 {
    color: rgb(100, 100, 100);
  }
}
.card-profile-pic {
  background-size: cover !important;
  background-position: center;
  color: white;
  height: 250px;
  background-position: top;
  border-radius: 4px 4px 0 0;
}

.card-details h2 {
  font-size: 25px;
  top: 0;
  position: absolute;
  color: white;
  padding: 15px;
  margin: 0;
  text-shadow: -1px 1.5px 1px #777777;
}

.bio h5 {
  margin-left: 18px;
  font-weight: 400;
  margin-top: 20px;
}





   .swiper-container {

    }
    .swiper-slide {

    }

