abbr {
  display: none;
}

.btn-primary {
  border-radius: 4px;

}

.form-control {
  width: 290px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  margin: 4px;
}


.form-signup {
  padding-top: 150px;
}
