
.pref-cook-pref {
  h5 {
    color: gray;
  }
}



.tag-design {
  h5 {
  background-color: #e0e0e0;
  border-color: white;
  padding: 10px;
  display: inline-block;
  margin: 3px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 13px;
  color: white;
  border-top-color: black;
}
}

