<div class="text-center form-signup">
  <%= simple_form_for @user, url: wizard_path do |f| %>
    <h4><%= f.input :gender, collection: User::GENDER2, required: true, class: "form-control text-signup"  %></h4><br>
    <%= f.submit "Continue", class: "btn button-chowdowns button-onboarding" %>
  <% end %>
</div>

<% content_for(:center_nav) do %>
  <%= image_tag "chowdown.png", alt: "title logo", class: "navbar-logo"%>
<% end %>
